<div id="<%= dom_id train %>" class="p-5">
  <p class="mb-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= train.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Wrecked:</strong>
    <%= train.wrecked %>
  </p>

</div>
